node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz

# Capacitor
android/app/build
android/.gradle
android/gradle
android/local.properties
ios/App/Pods
ios/App/build
*.keystore
*.jks

# IDE
.idea
.vscode
*.swp
*.swo